@page "/counter"
@using BlizzardHaunt.Unity;
@inject IJSRuntime JsRuntime;

<PageTitle>My Revolution</PageTitle>

<!-- ページごとにHeadタグを加えたい場合はHeadContentを使用する -->
<HeadContent>
    <!-- これでページごとにアイコンが変わる -->
    <link rel="shortcut icon" href="Escape/TemplateData/favicon.ico">
    <!--
        アプリごとのcss（でもアプリごとにする必要ないよね）
        TemplateData内の各画像はstyle.cssで使ってる
    -->
    <link rel="stylesheet" href="Escape/TemplateData/style.css">
</HeadContent>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
